body{
    background-color: rgb(75,0,129);
}

.head_line{
    background-color: #260042;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.head_line a{
    text-decoration: none;
    margin-right: 40px;
    color: white;
}

.img{
    text-align: center;
    color: white;
}



























